[submodule "roles/alvistack.ansible"]
	path = roles/alvistack.ansible
	url = https://github.com/alvistack/ansible-role-ansible.git
	branch = develop
[submodule "roles/alvistack.bootstrap"]
	path = roles/alvistack.bootstrap
	url = https://github.com/alvistack/ansible-role-bootstrap.git
	branch = develop
[submodule "roles/alvistack.ceph_common"]
	path = roles/alvistack.ceph_common
	url = https://github.com/alvistack/ansible-role-ceph_common.git
	branch = develop
[submodule "roles/alvistack.ceph_mds"]
	path = roles/alvistack.ceph_mds
	url = https://github.com/alvistack/ansible-role-ceph_mds.git
	branch = develop
[submodule "roles/alvistack.ceph_mgr"]
	path = roles/alvistack.ceph_mgr
	url = https://github.com/alvistack/ansible-role-ceph_mgr.git
	branch = develop
[submodule "roles/alvistack.ceph_mon"]
	path = roles/alvistack.ceph_mon
	url = https://github.com/alvistack/ansible-role-ceph_mon.git
	branch = develop
[submodule "roles/alvistack.ceph_osd"]
	path = roles/alvistack.ceph_osd
	url = https://github.com/alvistack/ansible-role-ceph_osd.git
	branch = develop
[submodule "roles/alvistack.ceph_rgw"]
	path = roles/alvistack.ceph_rgw
	url = https://github.com/alvistack/ansible-role-ceph_rgw.git
	branch = develop
[submodule "roles/alvistack.chrony"]
	path = roles/alvistack.chrony
	url = https://github.com/alvistack/ansible-role-chrony.git
	branch = develop
[submodule "roles/alvistack.git"]
	path = roles/alvistack.git
	url = https://github.com/alvistack/ansible-role-git.git
	branch = develop
[submodule "roles/alvistack.kernel"]
	path = roles/alvistack.kernel
	url = https://github.com/alvistack/ansible-role-kernel.git
	branch = develop
[submodule "roles/alvistack.locales"]
	path = roles/alvistack.locales
	url = https://github.com/alvistack/ansible-role-locales.git
	branch = develop
[submodule "roles/alvistack.python"]
	path = roles/alvistack.python
	url = https://github.com/alvistack/ansible-role-python.git
	branch = develop
[submodule "roles/alvistack.rclone"]
	path = roles/alvistack.rclone
	url = https://github.com/alvistack/ansible-role-rclone.git
	branch = develop
[submodule "roles/alvistack.restic"]
	path = roles/alvistack.restic
	url = https://github.com/alvistack/ansible-role-restic.git
	branch = develop
[submodule "roles/alvistack.sshd"]
	path = roles/alvistack.sshd
	url = https://github.com/alvistack/ansible-role-sshd.git
	branch = develop
[submodule "roles/alvistack.timezone"]
	path = roles/alvistack.timezone
	url = https://github.com/alvistack/ansible-role-timezone.git
	branch = develop
[submodule "roles/alvistack.vim"]
	path = roles/alvistack.vim
	url = https://github.com/alvistack/ansible-role-vim.git
	branch = develop
[submodule "roles/alvistack.zram_generator"]
	path = roles/alvistack.zram_generator
	url = https://github.com/alvistack/ansible-role-zram_generator.git
	branch = develop
